# Python files
__pycache__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm and JetBrains
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# LibreOffice locks
.~lock.*#
SWI/4. semester/Algoritmy a datové struktury/Cvika/Ukol 2/vector_test_zadani-main/cmake-build-debug/_deps/ioutils-src/
SWI/4. semester/Algoritmy a datové struktury/Cvika/Ukol 2/vector_test_zadani-main/cmake-build-debug/_deps/mymalloc-src/
SWI/4. semester/Algoritmy a datové struktury/Cvika/Ukol 3/DTMF_generator-master/cmake-build-debug/_deps/ioutils-src/
SWI/4. semester/Algoritmy a datové struktury/Cvika/Ukol 3/DTMF_generator-master/cmake-build-debug/_deps/mymalloc-src/
